[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-rest-framework = "*"
django-rest-knox = "*"
pillow = "*"
drf-nested-routers = "*"
coreapi = "*"
pygments = "*"
markdown = "*"

[requires]
python_version = "3.7"
