<<<<<<< head body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h3 {
  color: white;
}
h1 {
  font-family: "PT Sans", sans-serif;
}

tr:hover {
  background-color: rgba(52, 73, 94, 0.9);
  text-decoration: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 360ms cubic-bezier(0.4, 0, 0.2, 1);
}

tr {
  cursor: pointer;
  padding: 16px;
  color: rgb(217, 217, 217);
  margin: 50px;
  text-align: center;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 15px;
  border-radius: 17px;
}

td {
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

table {
  border-radius: 17px;
  empty-cells: hide;
  border-spacing: 10;
  border-collapse: collapse;
}

.columns {
  margin: 0 auto;
}

.table {
  background-color: gray;
  margin-top: 40px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.95;
}
.home {
  background-image: url("http://getwallpapers.com/wallpaper/full/d/c/3/119224.jpg");
}
.profil {
  background-image: url("https://myfitweb.pl/Content/img/gym_img/6482-gal-212e00.jpg");
}
.ltop,
.login,
.rejestracja {
  text-align: center;
}
.login,
.rejestracja {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.rejestracja:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.login:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.ltop {
  background-color: #666666;
  background-position: center;
  border-radius: 15px;
  margin-bottom: 40px;
}
.login {
  background-color: #7f7f7f;
  background-position: center;
  border-radius: 15px 0px 0px 15px;
  border-right-style: dotted;
  padding-bottom: 10px;
}
.rejestracja {
  background-color: #7f7f7f;
  background-position: center;
  border-radius: 0px 15px 15px 0px;
}
.odzyskaj {
  margin-top: 20px;
  background-color: #e6e8e6;
  border-radius: 15px;
  color: black;
}
.przypomnij {
  position: relative;
  margin-right: 100%;
}
.przypomnij_btn {
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
}
.guzik {
  text-align: left;
}
.dodajcwiczenie_okienko {
  background-color: #7f7f7f;
  background-position: center;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}
.dodajcwiczenie_form {
  text-align: left;
}
.dodajcwiczenie_tlo {
  background-image: url("https://d37b3blifa5mva.cloudfront.net/000_clients/424122/page/424122sumsNHWe.gif");
}
.btn_cofnij {
  float: right !important;
}

#Log_cart {
  background-color: #4c4c4c;
  color: white;
  border-radius: 15px;
  background-position: center;
  margin: 100px;
  padding: 50px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#Log_cart:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
======= body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h3 {
  color: white;
}
h1 {
  font-family: "PT Sans", sans-serif;
}

tr:hover {
  background-color: rgba(52, 73, 94, 0.9);
  text-decoration: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 360ms cubic-bezier(0.4, 0, 0.2, 1);
}

tr {
  cursor: pointer;
  padding: 16px;
  color: rgb(217, 217, 217);
  margin: 50px;
  text-align: center;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 15px;
  border-radius: 17px;
}

td {
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

table {
  border-radius: 17px;
  empty-cells: hide;
  border-spacing: 10;
  border-collapse: collapse;
}

.columns {
  margin: 0 auto;
}

.table {
  background-color: gray;
  margin-top: 40px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.95;
}
.home {
  background-image: url("http://getwallpapers.com/wallpaper/full/d/c/3/119224.jpg");
}
.profil {
  background-image: url("https://myfitweb.pl/Content/img/gym_img/6482-gal-212e00.jpg");
}
.ltop,
.login,
.rejestracja {
  text-align: center;
}
.login,
.rejestracja {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.rejestracja:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.login:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.ltop {
  background-color: #666666;
  background-position: center;
  border-radius: 15px;
  margin-bottom: 40px;
}
.login {
  background-color: #7f7f7f;
  background-position: center;
  border-radius: 15px 0px 0px 15px;
  border-right-style: dotted;
  padding-bottom: 10px;
}
.rejestracja {
  background-color: #7f7f7f;
  background-position: center;
  border-radius: 0px 15px 15px 0px;
}
.odzyskaj {
  margin-top: 20px;
  background-color: #e6e8e6;
  border-radius: 15px;
  color: black;
}
.przypomnij {
  position: relative;
  margin-right: 100%;
}
.przypomnij_btn {
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
}
.guzik {
  text-align: left;
}
.dodajcwiczenie_okienko {
  background-color: #7f7f7f;
  background-position: center;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}
.dodajcwiczenie_form {
  text-align: left;
}
.dodajcwiczenie_tlo {
  background-image: url("https://d37b3blifa5mva.cloudfront.net/000_clients/424122/page/424122sumsNHWe.gif");
}
.btn_cofnij {
  float: right !important;
}

#Log_cart {
  background-color: #4c4c4c;
  color: white;
  border-radius: 15px;
  background-position: center;
  margin: 100px;
  padding: 50px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#Log_cart:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
